@media (min-width: 768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

.col-dark * {
  color: white;
}

.col-dark h1 {
  font-family: Libre Baskerville;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.col-dark p {
  margin-bottom: 30px;
}

.btn-place {
  font-family: Libre Baskerville;
  font-weight: 900;
  padding: 0;
  background-color: transparent;
  text-decoration: underline;
  text-transform: uppercase;

}

.btn-place:hover,
.btn-place:focus {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.modal-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.modal-header {
  border-style: none;
}

.close {
  opacity: 0.5;
  color: white;
}

.close:hover,
.close:focus {
  opacity: 0.8;
  color: white;
}

.modal-header h2 {
  font-family: Libre Baskerville;
  color: white;
  text-align: center;
  margin-top: 4px;
}

.modal-body h3 {
  font-family: Libre Baskerville;
  color: white;
  margin-bottom: 0;
}

.modal-body h3+span {
  color: white;
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: block;
  border-width: 0 0 1px 0;
  border-style: solid;
}

.modal-body p,
.modal-body ul li {
  color: white;
}

.modal-footer {
  border-style: none;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0 0 3px 3px;
}

.modal-footer button {
  padding: 4px 8px 3px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: white;
  border-style: none;
  background-color: #d09357;
}

.modal-footer button:hover,
.modal-footer button:focus {
  color: white;
  background-color: rgba(208, 147, 87, 0.5);
}

.nav-pills.nav-pills-artifacts {
  margin: -15px -15px 15px -15px;
  padding: 15px;
  background-color: rgba(255,255,255,0.5);
}

.nav-pills.nav-pills-artifacts>li>a {
  padding: 4px 8px 3px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: white;
}

.nav-pills.nav-pills-artifacts>li>a:hover,
.nav-pills.nav-pills-artifacts>li>a:focus {
  background-color: rgba(208, 147, 87, 0.5);
}

.nav-pills.nav-pills-artifacts>li.active>a {
  background-color: #d09357;
}


.slick-artifact {
  /*background-color: black;*/
  /*background-color: white;*/
}

.slick-slide-artifact {
  height: 360px;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .slick-slide-artifact {
    height: 240px;
  }
}

.slick-prev,
.slick-next {
  height: 100%;
  z-index: 1;
  width: 80px;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick .slick-prev:before,
.slick .slick-next:before {
  font-family: HelveticaNeue;
  /*
  -webkit-filter: invert(85%);
    filter: invert(85%);
  */
}

.slick .slick-prev:before {
  margin-left: 2px;
  content: url("data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ibWIyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMiA2NCIgaGVpZ2h0PSI2NHB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiA2NCIgd2lkdGg9IjMycHgiIHg9IjBweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeT0iMHB4Ij4KPGcgZGlzcGxheT0ibm9uZSIgaWQ9IkxheWVyXzIiPgo8cmVjdCBkaXNwbGF5PSJpbmxpbmUiIGZpbGw9IiNmZmZmZmYiIGhlaWdodD0iMTEyIiB3aWR0aD0iMTI4IiB4PSItNyIgeT0iLTIwIj48L3JlY3Q+CjwvZz4KPGcgaWQ9IkxheWVyXzEiPgo8Zz4KPHBhdGggY2xhc3M9InRyYW5zaXRpb24tYWxsIiBkPSJNMjMuODc3LDY0Yy0wLjYxNywwLTEuMjI3LTAuMjg0LTEuNjE4LTAuODIxbC0yMS44NzUtMzBjLTAuNTEzLTAuNzA0LTAuNTEyLTEuNjU5LDAuMDAzLTIuMzYxbDIyLTMwYzAuNjU0LTAuODksMS45MDQtMS4wODQsMi43OTYtMC40M2MwLjg5MSwwLjY1MywxLjA4MywxLjkwNSwwLjQzMSwyLjc5NUw0LjQ3OCwzMi4wMDNsMjEuMDE0LDI4LjgxOGMwLjY1LDAuODkzLDAuNDU1LDIuMTQ0LTAuNDM4LDIuNzk1QzI0LjY5OCw2My44NzUsMjQuMjg1LDY0LDIzLjg3Nyw2NHoiPjwvcGF0aD4KPC9nPgo8L2c+Cjwvc3ZnPg==");
}

.slick .slick-next:before {
  margin-left: -2px;
  content: url("data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ibWIyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMiA2NCIgaGVpZ2h0PSI2NHB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiA2NCIgd2lkdGg9IjMycHgiIHg9IjBweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeT0iMHB4Ij4KPGcgZGlzcGxheT0ibm9uZSIgaWQ9IkxheWVyXzIiPgo8cmVjdCBkaXNwbGF5PSJpbmxpbmUiIGZpbGw9IiNmZmZmZmYiIGhlaWdodD0iMTEyIiB3aWR0aD0iMTI4IiB4PSItNzEiIHk9Ii0yMCI+PC9yZWN0Pgo8L2c+CjxnIGlkPSJMYXllcl8xIj4KPGc+CjxwYXRoIGNsYXNzPSJ0cmFuc2l0aW9uLWFsbCIgZD0iTTcuOTk4LDY0Yy0wLjQxLDAtMC44MjQtMC4xMjYtMS4xODEtMC4zODdjLTAuODkxLTAuNjUzLTEuMDgzLTEuOTA1LTAuNDMxLTIuNzk2bDIxLjEzNi0yOC44MjFMNi41MDksMy4xNzhjLTAuNjUtMC44OTMtMC40NTUtMi4xNDQsMC40MzgtMi43OTRDNy44NC0wLjI2Niw5LjA5MS0wLjA3LDkuNzQxLDAuODIybDIxLjg3NSwzMGMwLjUxMywwLjcwNCwwLjUxMiwxLjY1OS0wLjAwMywyLjM2MWwtMjIsMzBDOS4yMjEsNjMuNzE3LDguNjE0LDY0LDcuOTk4LDY0eiI+PC9wYXRoPgo8L2c+CjwvZz4KPC9zdmc+");
}
