<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.rwdImageMaps.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.maphilight.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/slick.min.js"></script>

<script>
$(document).ready(function(e) {
    $('img[usemap]').rwdImageMaps();
    //$('img[usemap]').mapster();
    $(function() {$('img[usemap]').maphilight({fade: false});});

    $(function() {

        {% for eachplace in page.artifacts %}
        $('#button-{{ eachplace.id }}').mouseover(function(e) {
            $('#area-{{ eachplace.id }}').mouseover();
        }).mouseout(function(e) {
            $('#area-{{ eachplace.id }}').mouseout();
        }).click(function(e) { e.preventDefault(); });

        /*
        $('#area-{{ eachplace.id }}').mouseover(function(e) {
            $('#button-{{ eachplace.id }}').mouseover();
        }).mouseout(function(e) {
            $('#button-{{ eachplace.id }}').mouseout();
        });
        */
        {% endfor %}

    });

});
</script>

<script>

$(document).on('show.bs.modal', function (event) {
    if (!event.relatedTarget) {
        $('.modal').not(event.target).modal('hide');
    };
    if ($(event.relatedTarget).parents('.modal').length > 0) {
        $(event.relatedTarget).parents('.modal').modal('hide');
    };
});

$(document).on('shown.bs.modal', function (event) {
    if ($('body').hasClass('modal-open') == false) {
        $('body').addClass('modal-open');
    };
});

</script>

<style>

.modal-backdrop.fade + .modal-backdrop.fade {
    transition: opacity 0.40s linear 0s;
}

</style>

<script>

  $(document).ready(function(){
    $('.slick').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: true,
      arrows: true,
      autoplay: true,
      autoplaySpeed: 3000,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
    });
  });

</script>
