<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- SEO/OpenGraph -->
	<!--link rel="image_src" href="{{ site.baseurl }}/images/banner-og.jpg"-->
	<meta name="description" content="This is a public archaeology project that aims to help spread awareness of the richness of the archaeological artifacts and finds within the Philippines.">
	<!--link rel="canonical" href="{{ site.baseurl }}/"-->

	<meta property="og:title" content="Within Our Reach">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.baseurl }}/">
	<!--meta property="og:image" content="{{ site.baseurl }}/images/banner-og.jpg"-->
	<meta property="og:locale" content="en_US">
	<meta property="og:description" content="This is a public archaeology project that aims to help spread awareness of the richness of the archaeological artifacts and finds within the Philippines.">
	<meta property="og:site_name" content="Within Our Reach">

	<title>{% if page.title %}{{ page.title }}{{' | '}}{{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
	<!--link rel="stylesheet" href="{{ site.baseurl }}/css/arrow.css"-->
	{% if page.slick == true %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/slick.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/slick-theme.css">
	{% endif %}
	{% if page.animate == true %}
		<!--link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/animate-custom.css"-->
	{% endif %}
	<!--link rel="stylesheet" href="{{ site.baseurl }}/css/km-navbar.css"-->
	<!--link rel="stylesheet" href="{{ site.baseurl }}/css/custom-navbar.css"-->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">

	{% include css-fonts.html %}

</head>
